@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/06/2015, 23:41:27
    Author     : Facundo Goñi
*/
.container {
  font-weight: 100;
  font-family: 'Paprika'; }

body {
  color: white;
  background: url("https://unsplash.it/1920/1080?image=57&grayscale") no-repeat center center fixed;
  background-size: cover;
  background-color: #6C4038;
  font-size: 18px; }

.content {
  color: black; }

h1, h2, h3, h2, h3, h4, h5, h6, p {
  line-height: 1.45; }

h1, h2, h3 {
  font-size: 3em;
  padding: 5px 0 0 0; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.6em; }

.btn {
  padding: 2px; }

.well {
  background-color: brown;
  opacity: 0.7;
  color: white;
  border: 0; }

p {
  font-size: 0.8em; }

.hoyEs, .feriado, .viernes, .dias {
  font-family: "Paprika", sans-serif;
  font-weight: 900;
  color: #f39c12; }

.overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6); }

.fa-heart {
  color: #f15f4c; }

@media (max-width: 600px) {
  .facet_sidebar {
    display: none; } }

@media (min-width: 768px) {
  .disclaimer {
    margin: 4% 0 0 0; }
  #all {
    padding: 5rem; } }

@media (min-width: 992px) {
  .disclaimer {
    margin: 8% 0 0 0; } }

@media (min-width: 1200px) {
  .disclaimer {
    margin: 12% 0 0 0; } }
